div#darkModeToggle {
    font-size: 13px;
    background: black;
    color: white;
    width: 157px;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 16px;
    cursor: pointer;
}

a.catalogue-item{
    transition: .2s;
}
a.catalogue-item:hover {
    opacity: 0.5;
}
a.catalogue-item p{
    margin: 0px;
    text-align: justify;
    font-size: 15px;
    display: flex;
    flex-basis: 390px;
}

.catalogue-title{
    color: #000000;
}
.catalogue-image-column {
    display: flex;
    align-items: center;
}
.catalogue-image{
    position: relative;
    margin-top: 10px;
    margin-right: 20px;
    flex-basis: 390px;
}

.post-title {
    font-size: 40px;
}

.nav-title{
    width: 100%;
}

.logo-site{
    height: 80px;
    margin: 0 auto;
}