		<footer>
			
			<h2>Novos conteúdos</h2>
			<ul id="novos-conteudos">
				<li><a href="https://gamerforgamer.com/sensibilidade/calculadora-sensibilidade-cs-go-para-valorant/">Converter a sensibilidade do CS:GO para Valorant</a></li>
				<li><a href="https://gamerforgamer.com/gta-5-macetes/codigos-gta-5-cheats-e-macetes-para-xbox-360-ps3-ps4-e-xbox-one/">GTA V - Códigos para PS3, PS4, PS5, Xbox One, Xbox 360 e PC</a></li>
			</ul>

			<style>
				#novos-conteudos{
					list-style: none;
				}
				#novos-conteudos li{
					margin-bottom: 10px;
				}
				#novos-conteudos li a{
					font-family: sans-serif;
				}

				.language{
					font-family: sans-serif;
					margin-top: 5px;
					display: block;
				}
			</style>
			<p>
				<a href="https://gamerforgamer.com/politica-de-privacidade/">Nossa Política de Privacidade</a><br>
				Criado por: <a href="https://www.linkedin.com/in/marcelo-augusto-developer/" target="_blank">Marcelo Augusto</a>
			</p>
		</footer>
