		<footer>
			<style>
				#novos-conteudos{
					list-style: none;
				}
				#novos-conteudos li{
					margin-bottom: 10px;
				}
				#novos-conteudos li a{
					font-family: sans-serif;
				}

				.language{
					font-family: sans-serif;
					margin-top: 5px;
					display: block;
				}
			</style>
			<p>
				<a href="https://gamerforgamer.com/politica-de-privacidade/">Nossa Política de Privacidade</a><br>
				Criado por: <a href="https://www.linkedin.com/in/marcelo-augusto-developer/" target="_blank">Marcelo Augusto</a>
			</p>
		</footer>
