<h2 class="escolha-jogo hide-show">Escolha o seu jogo!</h2>

<ul class="jogos hide-show">
    <li>
        <a href="/tags/starfield/" class="normal-link">
            <span>Starfield</span>
            <img src="https://www.gamespot.com/a/uploads/original/1599/15997278/4191843-stareaglelarge.jpeg" alt="Starfield">
        </a>
    </li>
    <li>
        <a href="/tags/free-fire/" class="normal-link">
            <span>Free fire</span>
            <img src="/images/free-fire/papel-de-parede/papel-de-parede-celular-free-fire-4.webp" alt="Papel de parede Free fire, Fotos de Free fire">
        </a>
    </li>
    <li>
        <a href="/tags/elden-ring/" class="normal-link">
            <span>Elden ring</span>
            <img src="/images/vendas-elden-ring.webp" alt="Elden Ring">
        </a>
    </li>
    <li>
        <a href="/tags/cyberpunk-2077/" class="normal-link">
            <span>Cyberpunk 2077</span>
            <img src="https://www.gamespot.com/a/uploads/original/1690/16904437/4195070-cyberpunk.jpg" alt="Cyberpunk 2077">
        </a>
    </li>
    <li>
        <a href="/tags/gtav/" class="normal-link">
            <span>GTA V</span>
            <img src="https://t2.tudocdn.net/615108?h=200" alt="GTA V">
        </a>
    </li>
    <li>
        <a href="/tags/lies-of-p/" class="normal-link">
            <span>Lies of P</span>
            <img src="https://www.gamespot.com/a/uploads/original/679/6794662/4187225-4142127-lies-of-p.jpg" alt="Lies of P">
        </a>
    </li>
    <li>
        <a href="/tags/roblox/" class="normal-link">
            <span>Roblox</span>
            <img src="/images/roblox/roblox.webp" alt="Roblox">
        </a>
    </li>
    <li>
        <a href="/tags/call-of-duty-modern-warfare-iii/" class="normal-link">
            <span>Call of Duty</span>
            <img src="https://www.gamespot.com/a/uploads/original/1646/16465123/4203384-7023000759-ss_79.jpg" alt="Roblox">
        </a>
    </li>
</ul>

<h2 class="escolha-jogo hide-show">Escolha o seu anime</h2>

<ul class="jogos hide-show">
    <li>
        <a href="/tags/naruto/" class="normal-link">
            <span>Naruto</span>
            <img src="/images/naruto_uzumaki.webp" alt="Starfield">
        </a>
    </li>
</ul>