{{ with .Params.tags }}
    <ul id="tags" style="margin-top: 10px;">
        <li> 
            <a href="/noticias">
                <span>Últimas notícias</span>
            </a>
        </li>

        {{ range . }}
        <li> 
            <a href="{{ "tags/" | absURL }}{{ . | urlize }}">
                <span>{{ . }}</span>
            </a>
        </li>
      {{ end }}
        <li style="background-color: transparent;"> 
            <button class="menu-jogos">Menu de jogos</button>
        </li>
    </ul>
    
{{ end }}


{{ with .Params.categories }}
    <ul id="categories">
        {{ range . }}
            <li> 
                <a href="{{ "categories/" | absURL }}{{ . | urlize }}">
                    <span>{{ . }}</span>
                </a>
            </li>
        {{ end }}
    </ul>
{{ end }}