		<nav class="nav">
			<div class="nav-container">

				{{ if in .Permalink "/en/" }}
					<a href="{{ "/en/" | relURL }}">
						{{ if .IsPage }}
							<img src="{{ "images/logo-gamer-for-gamer.png" | relURL }}" alt="logo gamer for gamer" class="logo-site" width="160px" height="53px">
						{{ else }}
							<img src="{{ "images/logo-gamer-for-gamer.png" | relURL }}" alt="logo gamer for gamer" class="logo-site" width="160px" height="53px">
						{{ end }}
					</a>
				{{ else }}
					<a href="{{ "/" | relURL }}">
						{{ if .IsPage }}
							<img src="{{ "images/logo-gamer-for-gamer.png" | relURL }}" alt="logo gamer for gamer" class="logo-site" width="160px" height="53px">
						{{ else }}
							<img src="{{ "images/logo-gamer-for-gamer.png" | relURL }}" alt="logo gamer for gamer" class="logo-site" width="160px" height="53px">
						{{ end }}
					</a>
				{{ end }}
				<div class="header-menu">
					{{ partial "header-menu.html" . }}
				</div>
			</div>
		</nav>
		<div>
			<a href="https://www.amazon.com.br/deals?ref_=nav_cs_gb&_encoding=UTF8&tag=g4g0b6-20&linkCode=ur2&linkId=7a5d8b9b0d424f3b57bab0e39b5de4a4&camp=1789&creative=9325" class="btn-download-fs" style="background-color: #f60;">Ofertas na Amazon</a>
		</div>

