{{ with .Params.tags }}
    <ul id="tags">
      {{ range . }}
        <li> 
            <a href="{{ "tags/" | absURL }}{{ . | urlize }}">
                <span>{{ . }}</span>
            </a>
        </li>
      {{ end }}
    </ul>
{{ end }}


{{ with .Params.categories }}
    <ul id="categories">
        {{ range . }}
            <li> 
                <a href="{{ "categories/" | absURL }}{{ . | urlize }}">
                    <span>{{ . }}</span>
                </a>
            </li>
        {{ end }}
    </ul>
{{ end }}