		<nav class="nav">
			<div class="nav-container">
				<a href="{{ "/" | relURL }}">
					{{ if .IsPage }}
						<h4 class="nav-title">
							<img src="{{ "images/logo-gamer-for-gamer.png" | relURL }}" alt="logo gamer for gamer" class="logo-site">
						</h4>
					{{ else }}
						<h1 class="nav-title">
							<img src="{{ "images/logo-gamer-for-gamer.png" | relURL }}" alt="logo gamer for gamer" class="logo-site">
						</h1>
					{{ end }}
				</a>
				{{ partial "header-menu.html" . }}
				<div style="width: 200px;    margin: 0 auto;">
					<a target="_blank" href="https://www.amazon.com.br/dp/B097RVQX47?_encoding=UTF8&linkCode=ib1&tag=cass0c-20&linkId=caea97dfca74aa3b3cf865ccd4d8e661&ref_=ihub_sa-ts_B097RVQX47">
						<img src="https://m.media-amazon.com/images/I/5156JRN19rS._AC_SL1200_.jpg" alt="Mouse Gamer" width="150px;" style="margin: 0 auto;">
						Mouse Gamer Rgb Computador Pc Notebook Ergonômico Usb kp-mu006
						Por <strong>R$37</strong>
					</a>

					<a target="_blank" href="https://www.amazon.com.br/dp/B0931634VH?_encoding=UTF8&linkCode=ib1&tag=cass0c-20&linkId=f9c911961dadddacd03139fa89c2ac12&ref_=ihub_sa-ts_B0931634VH">
						<img src="https://m.media-amazon.com/images/I/51KmscfDYyL._AC_.jpg" alt="Mouse Gamer" width="200px" style="margin: 0 auto; margin-top: 20px;">
						Controle XBOX, serve para celular
						Por <strong>R$434,00</strong>
					</a>

					<a target="_blank" href="https://www.amazon.com.br/dp/B08F44BR8H?_encoding=UTF8&linkCode=ib1&tag=cass0c-20&linkId=77aeeedddab7931a94ea5f6bd8cef034&ref_=ihub_sa-ts_B08F44BR8H">
						<img src="https://m.media-amazon.com/images/I/71f-Mt1UBmL._AC_SL1500_.jpg" alt="Controle XBOX, serve para celular" width="150px" style="margin: 0 auto; margin-top: 20px;">
						Controle XBOX, serve para celular
						Por <strong>R$299,00</strong>
					</a>
				</div>
			</div>
		</nav>

