<!-- 
This is a placeholder partial for the introduction. Create a file called
layouts/partials/index/introduction.html in your own site to overwrite this
placeholder.
-->

<img src="/de-gamer-para-gamer.webp" alt="De Gamer para Gamer" style="margin-bottom: 20px;width: 300px">
<h1>Placas de vídeo: Análises e promoções!</h1>
<p>Sou um gamer apaixonado e, por meio deste site, compartilho minhas análises e impressões sobre placas de vídeo, processadores e as melhores promoções do mundo dos games.</p>
