{{ define "main" }}

<main id="website">
	{{ partial "index/introduction.html" . }}


	<h2>Quer ver conteúdos de qual jogo?</h2>
	<nav class="nav">
		<div class="nav-container header-menu">
			<ul class="home-menu">
				{{ range .Site.Menus.main }}
					<li>
						<a href="{{ .URL }}" onclick="gtag('event', 'click', { 'event_category' : 'home-menu', 'event_label' : '{{ .Name }}'});">
							<span>{{ .Name }}</span>
						</a>
					</li>
				{{ end }}
			</ul>
		</div>
	</nav>

	<div class="catalogue">
		
		{{- $p1 := where .Site.Pages "Type" "noticias" -}}
		{{- range first 10 ($p1) -}}
			{{ .Render "summary-home" }}
		{{- end -}}

		<h2 class="content-title-home">Free Fire</h2>
		{{- $p1 := where .Site.Pages "Params.tags" "intersect" (slice "Free Fire") -}}
		{{- range first 5 ($p1) -}}
			{{ .Render "summary-home" }}
		{{- end -}}
		
		<h2 class="content-title-home">Hogwarts Legacy</h2>
		{{- $p1 := where .Site.Pages "Params.tags" "intersect" (slice "Hogwarts Legacy") -}}
		{{- range first 2 ($p1) -}}
			{{ .Render "summary-home" }}
		{{- end -}}

		<h2 class="content-title-home">Elden Ring</h2>
		{{- $p1 := where .Site.Pages "Params.tags" "intersect" (slice "Elden Ring") -}}
		{{- range first 2 ($p1) -}}
			{{ .Render "summary-home" }}
		{{- end -}}

		<h2 class="content-title-home">Arena Breakout</h2>
		{{- $p1 := where .Site.Pages "Params.tags" "intersect" (slice "Arena Breakout") -}}
		{{- range first 2 ($p1) -}}
			{{ .Render "summary-home" }}
		{{- end -}}

		<h2 class="content-title-home">GTA V</h2>
		{{- $p1 := where .Site.Pages "Params.tags" "intersect" (slice "GTAV") -}}
		{{- range first 2 ($p1) -}}
			{{ .Render "summary-home" }}
		{{- end -}}

	</div>
</main>

{{ end }}
