{{ define "main" }}

<main id="website">
		{{ partial "index/introduction.html" . }}
		<!-- <div class="catalogue">
			<h2 class="content-title-home">Ùltimas postagens</h2>
			{{- $noticias := where .Site.Pages "Section" "noticias" -}}
			{{- $noticiasOrdenadas := sort $noticias "Date" "desc" -}}
			{{- range first 5 $noticiasOrdenadas -}}
				{{ .Render "summary-home" }}
			{{- end -}}
		</div> -->
		<h2>Review Sobre Placa de vídeo</h2>
		<nav class="nav">
			<div class="nav-container header-menu">
				<ul class="home-menu">
					{{ range .Site.Menus.placadevideo }}
						<li>
							<a href="{{ .URL }}" onclick="gtag('event', 'click', { 'event_category' : 'home-menu', 'event_label' : '{{ .Name }}'});">
								<span>{{ .Name }}</span>
							</a>
						</li>
					{{ end }}
				</ul>
			</div>
		</nav>
	</div>
</main>

{{ end }}
