<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="light">
    {{ partial "head.html" . }}
    <body>
        <amp-analytics type="gtag" data-credentials="include">
			<script type="application/json">
            {
                "vars": {
                    "account": "G-5XVQH6BL8G"
                },
                "triggers": {
                    "trackPageview": {
                        "on": "visible",
                        "request": "pageview"
                    },
                    "trackEvent": {
                        "on": "visible",
                        "request": "event",
                        "vars": {
                            "eventCategory": "amp",
                            "eventAction": "viewed_amp"
                        }
                    }
                }
            }
			</script>
		</amp-analytics>

        {{ partial "header.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" . }}
    </body>
</html>
