{{ define "main" }}

<main>
	<div class="post">
		
		{{ partial "single/title.html" . }}

		{{ partial "single/header.html" . }}
		
		<!-- Quadrados -->
		<ins class="adsbygoogle"
		style="display:block"
		data-ad-client="ca-pub-1620683366823925"
		data-ad-slot="2945822418"
		data-ad-format="auto"
		data-full-width-responsive="true"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>

		<a href="https://mercadolivre.com/sec/2nyeV9C" class="only-link" rel="sponsored">
			<img src="/images/fone-de-ouvido.webp" alt="Fone de ouvido promoção" >
		</a>

		{{ .Content }}

		{{ partial "single/post-info.html" . }}
		
		{{ partial "single/footer.html" . }}

	</div>

	<div class="pagination">
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.RelPermalink }}" class="left arrow">Página anterior</a>
		{{- end }}
		{{- if .NextPage }}
		<a href="{{ .NextPage.RelPermalink }}" class="right arrow">Próxima página</a>
		{{- end }}
	</div>
</main>

<style>
	.catalogue-image-column{
		height: auto;
	}
	.catalogue-image-column img{
		margin: 0px;
		height: max-content !important;
	}
</style>
{{ end }}
