{{ define "main" }}

<main>
	{{ partial "toc.html" . }}

        <div class="post">
		{{ partial "single/post-info.html" . }}
		{{ partial "single/title.html" . }}

		{{ partial "single/header.html" . }}

		<!-- /21753034958/gamerforgamer.com/WEB_Content1 -->
<div id='div-gpt-ad-1689195215762-0' style='min-width: 250px; min-height: 250px;'>
	<script>
	  googletag.cmd.push(function() { googletag.display('div-gpt-ad-1689195215762-0'); });
	</script>
  </div>
  
		{{ .Content }}

		{{ partial "single/footer.html" . }}
	</div>

	<div class="pagination">
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.RelPermalink }}" class="left arrow">Página anterior</a>
		{{- end }}
		{{- if .NextPage }}
		<a href="{{ .NextPage.RelPermalink }}" class="right arrow">Próxima página</a>
		{{- end }}
	</div>
</main>

{{ end }}
