{{ define "main" }}

<main>
	<div class="post">
		
		{{ partial "single/title.html" . }}

		{{ partial "single/header.html" . }}
		
		<!-- Quadrados -->
		<ins class="adsbygoogle"
		style="display:block"
		data-ad-client="ca-pub-1620683366823925"
		data-ad-slot="2945822418"
		data-ad-format="auto"
		data-full-width-responsive="true"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>

		{{ .Content }}

		{{ partial "single/post-info.html" . }}
		
		{{ partial "single/footer.html" . }}

	</div>

	<div class="pagination">
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.RelPermalink }}" class="left arrow">Página anterior</a>
		{{- end }}
		{{- if .NextPage }}
		<a href="{{ .NextPage.RelPermalink }}" class="right arrow">Próxima página</a>
		{{- end }}
	</div>
</main>

<style>
	.catalogue-image-column{
		height: auto;
	}
	.catalogue-image-column img{
		margin: 0px;
		height: max-content !important;
	}
</style>
<script>
   document.addEventListener("DOMContentLoaded", function() {
      const botaoMenuJogos = document.querySelector(".menu-jogos");
      const elementosOcultos = document.querySelectorAll(".hide-show");

      botaoMenuJogos.addEventListener("click", function() {
        elementosOcultos.forEach(function(elemento) {
          elemento.style.display = "flex";
        });
      });
    });
  </script>
{{ end }}
