<a href="{{ .Permalink }}" class="catalogue-item">
    <div>
        <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
        <h2 class="catalogue-title">
            {{with .Params.H1}}
                {{.}}
            {{else}}
                {{.Title}}
            {{end}}
        </h2>
        <div class="catalogue-image-column">
            <div class="catalogue-image">
                {{ if .Params.Header.Image }} 
                    <img src="{{ .Params.Header.Image | relURL }}" alt="{{ .Title }}">
                {{ else if .Params.Image }}
                    <img src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
                {{ end }}
            </div>
            <p>
                {{ if isset .Params "summary" }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }}
            </p>
        </div>
    </div>
</a>
