{{ define "main" }}

<main>
    <h1>{{ .Title }}</h1>
	<p>{{ .Params.internalExcerpt }}</p>
	<h2 style="margin-top: 30px;">{{ .Params.questionTitle }}</h2>
	<p>{{ .Params.questionContent }}</p>
	
	<div class="catalogue">
		<h2 style="margin-bottom:0px">Nossos conteúdos sobre {{ .Params.nameTag }}</h2>
		{{ range (.Paginate .Pages).Pages }}
			{{ .Render "summary-tags" }}
		{{ end }}
	</div>
	
	<div class="pagination">
		{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
		{{ end }}
		{{ if .Paginator.HasNext }}
			<a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
		{{ end }}
	
		<span>{{ .Paginator.PageNumber }}</span>
	</div>
</main>

{{ end }}
