<!-- 
This is a placeholder partial for the post footer. Create a file called
layouts/partials/single/footer.html in your own site to overwrite this
placeholder.
-->

<h2>Mais conteúdos em nosso site</h2>
		
<h3>Resident Evil 4 Remake</h3>
{{- $p1 := where .Site.Pages "Params.tags" "intersect" (slice "Resident Evil 4 Remake") -}}
{{- range first 3 ($p1) -}}
    <ul>
        <li><a href="{{ .Permalink }}"><h4 style="text-decoration: none;font-size: 1.1rem;">{{ .Title }}</h4></a></li>
    </ul>
{{- end -}}

<h3>Hogwarts Legacy</h3>
{{- $p1 := where .Site.Pages "Params.tags" "intersect" (slice "Hogwarts Legacy") -}}
{{- range first 10 ($p1) -}}
    <ul>
        <li><a href="{{ .Permalink }}"><h4 style="text-decoration: none;font-size: 1.1rem;">{{ .Title }}</h4></a></li>
    </ul>
{{- end -}}

<h3>Elden Ring</h3>
{{- $p1 := where .Site.Pages "Params.tags" "intersect" (slice "Elden Ring") -}}
{{- range first 10 ($p1) -}}
    <ul>
        <li><a href="{{ .Permalink }}"><h4 style="text-decoration: none;font-size: 1.1rem;">{{ .Title }}</h4></a></li>
    </ul>
{{- end -}}


<h3>Free Fire</h3>
{{- $p1 := where .Site.Pages "Params.tags" "intersect" (slice "Free Fire") -}}
{{- range first 20 ($p1) -}}
    <ul>
        <li><a href="{{ .Permalink }}"><h4 style="text-decoration: none;font-size: 1.1rem;">{{ .Title }}</h4></a></li>
    </ul>
{{- end -}}

<h3>GTA V</h3>
{{- $p1 := where .Site.Pages "Params.tags" "intersect" (slice "GTAV") -}}
{{- range first 3 ($p1) -}}
    <ul>
        <li><a href="{{ .Permalink }}"><h4 style="text-decoration: none;font-size: 1.1rem;">{{ .Title }}</h4></a></li>
    </ul>
{{- end -}}