<!-- 
This is a placeholder partial for the post footer. Create a file called
layouts/partials/single/footer.html in your own site to overwrite this
placeholder.
-->

<h2>Mais conteúdos em nosso site sobre {{.Page.Params.Tags}}</h2>
		
{{ $currentTitle := .Page.Title}}
{{- $p1 := where .Site.Pages "Params.tags" "intersect" .Page.Params.Tags -}}
{{- range first 10 ($p1) -}}
    {{ if ne .Title $currentTitle }}
        {{ .Render "summary-tags" }}
    {{end}}
{{- end -}}


<style>
.read-more{
    border: 1px solid #3651d7;
    color: #3651d7;
    padding: 10px;
    width: 100%;
    display: block;
    text-decoration: none !important;
    text-align: center;
}
</style>