<div class="post-info">
    

    {{ if in .Permalink "/en/" }}
        <span>Written by</span>
    {{ else if in .Permalink "/ar/" }}
        <span>كتب بواسطة</span>
    {{ else }}
        <span>{{ i18n "writtenBy" }}</span>
    {{ end }}




    {{- if .Params.Author }}
        {{ .Params.Author }}
    {{- else }}
        {{ .Site.Author.name }}
    {{- end }}

    {{- if .PublishDate }}
        em <time datetime="{{ .PublishDate }}">{{ i18n "publishdate" . }}</time>
    {{- end }}

    {{- if .Params.dateupdatetext }}
        <br>
        Atualizado em <time>{{ .Params.dateupdatetext }}</time>
    {{- end }}
</div>
