<h1 class="post-title">
    {{with .Params.H1}}
        {{.}}
    {{else}}
        {{.Title}}
    {{end}}
</h1>
<div class="post-line"></div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1620683366823925"
crossorigin="anonymous"></script>
<div style="min-height: 280px;padding-bottom: 40px;">
    <!-- Quadrados -->
    <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-1620683366823925"
    data-ad-slot="2945822418"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>